<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARjhsIIfR0zvNh33h6yl2IY_2olR9gNdE</string>
	<key>GCM_SENDER_ID</key>
	<string>853245591672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mallBud</string>
	<key>PROJECT_ID</key>
	<string>mallbuddy-51690</string>
	<key>STORAGE_BUCKET</key>
	<string>mallbuddy-51690.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853245591672:ios:198cb90277703e53612d8d</string>
</dict>
</plist>